---
interface Props {
  name: string;
  image: string;
  url: string;
  rotationSpeed: number;
  orbitSpeed: number;
  size: number;
  orbitSize: number;
}

const { name, image, url, rotationSpeed, orbitSpeed, size, orbitSize } = Astro.props;

const startingOrbit = Math.random() * 360;
---

<div
  class="orbit absolute border-2 border-pf-dark-2 rounded-full pointer-events-none"
>
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class="planet absolute rounded-full pointer-events-auto"
  >
    <img src={image} alt={name} class="rounded-full" width={size} height={size}/>
  </a>
</div>

<style
  define:vars={{ rotationSpeed, orbitSpeed, size, orbitSize, startingOrbit }}
>
  .planet {
    top: calc((var(--orbitSize) / 3.6 - var(--size)) / 2 * 1px);
    left: calc((var(--orbitSize) / 3.6 - var(--size)) / 2 * 1px);
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    animation: spin calc(var(--rotationSpeed) * 1s) linear infinite;
  }

  .orbit {
    width: calc(var(--orbitSize) * 1px);
    height: calc(var(--orbitSize) * 1px);
    animation: orbit calc(var(--orbitSpeed) * 1s) linear infinite;
  }

  @keyframes orbit {
    from {
      transform: rotate(calc(var(--startingOrbit) * 1deg));
    }
    to {
      transform: rotate(calc(var(--startingOrbit) * 1deg + 360deg));
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
</style>
