---
type Props = {
  title: string
  description: string
  features: string
  image: string
  url: string
  tech: string[]
}

const { title, description, features, image, url, tech } = Astro.props
---

<div class="flex gap-10">
  <div class="h-64 aspect-video bg-pf-light rounded-md"></div>
  <div>
    <h2 class="text-2xl">{title}</h2>
    <div class="text-pf-light-2 text-xl">
      <p class="mb-8">{description}</p>
      <p class="mb-8">{features}</p>
      <p>
        {tech.map((t, i) => (i === tech.length - 1 ? `${t}.` : `${t}, `))}
      </p>
    </div>
  </div>
</div>
