---
import RootLayout from './RootLayout.astro'
import FormatedDate from '../components/FormattedDate.astro'

import type { CollectionEntry } from 'astro:content'
type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, image } = Astro.props
---

<RootLayout
  title={`${title} • Mario Pérez Hurtado`}
  description={description}
  image={`/blog/${image}`}>
  <main class="my-10">
    <article class="max-w-prose mx-auto">
      <a href="/" class="mb-10 block w-fit underline">← Back</a>
      <h1
        class="mb-2 font-display text-pf-light font-extrabold text-2xl sm:text-3xl">
        {title}
      </h1>
      <span class="text-sm">
        <FormatedDate date={pubDate} />
      </span>
      <hr class="h-px mt-4 mb-8 bg-pf-dark-3 border-0" />
      <div id="blog">
        <slot />
      </div>
    </article>
  </main>

  <style is:inline>
    #blog p {
      line-height: 1.5;
      padding-bottom: 1rem;
    }
    #blog strong {
      color: #e4e5ea;
    }
    #blog h2 {
      color: #e4e5ea;
      font-size: 1.25rem;
      font-weight: 800;
      font-family: 'Syne';
      padding: 2rem 0 1rem;
    }
    #blog code {
      background-color: #393b4e;
      padding: 0.1rem 0.3rem;
      border-radius: 3px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    #blog pre {
      padding: 1rem;
      margin: 1rem 0 3rem;
      border-radius: 6px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    #blog pre > code {
      all: unset;
      font-size: 14px;
    }
    #blog blockquote {
      margin: 1rem 0 2rem;
      padding: 1rem;
      font-size: 15px;
      border-radius: 3px;
      border-left: 4px solid #4b4e69;
      background-color: #393b4e;
      color: #fff;
      font-style: italic;
    }
    #blog blockquote p {
      padding: 0;
    }
    #blog a {
      color: #fff;
      text-decoration: underline;
      transition: color 300ms;
      text-underline-offset: 2px;
    }
    #blog a:hover {
      color: #16ca73;
    }
    #blog ul, #blog ol {
      padding-left: 1.5rem;
      list-style: disc;
      margin-bottom: 2rem;
    }
  </style>
</RootLayout>
